<app-page-title title="Checkout" [children]="[{title: 'Checkout'}]"></app-page-title>

<div class="container padding-bottom-3x mb-2">
  <div [hidden]="!thanks" class="row">
    <div class="col-xl-4 col-lg-5">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-xl-8 col-lg-7 button">
      <button class="btn btn-success" (click)="change()">Proceed To Checkout</button>
    </div>
    
  </div>
  <div [hidden]="thanks">
    <div class="thankyou">Thankyou For Shopping With Us...</div>
    <div>
      <a routerLink='/home' class="button">
        <input type="button" value="Back to shopping" class="btn btn-success" style="margin-left:auto;margin-right:auto;display:block">
      </a>
    </div>
  </div>
</div>