<app-main-slider></app-main-slider>
<section class="container widget">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <app-product-widget [widgetTitle]="'New Arrivals'"></app-product-widget>
      </div>
      <div class="col-md-4 col-sm-6">
          <app-product-widget [widgetTitle]="'On Sale'"></app-product-widget>
      </div>
      <div class="col-md-4 col-sm-6">
          <app-product-widget [widgetTitle]="'Best Rated'"></app-product-widget>
      </div>
  </div>
</section>