<footer class="footerContainer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <section class="widget widgetLinks">
          <h3 class="widgetTitle">Get In Touch With Us</h3>
          <ul>
            <li> 
              <a href="#">Phone: +91 92058 47150</a>
            </li>
            <li> 
              <a href="#" style="padding-left:14.4%">+91 84470 24312</a>
            </li>
            <li>
              <a href="#">patelanurag.0411@gmail.com</a>
            </li>
            <li>
              <a href="#">richabhardwaj025@gmail.com</a>
            </li>
          </ul>     
        </section>
      </div>
      <div class="col-lg-4 col-md-6">
        <section class="widget widgetLinks">
          <h3 class="widgetTitle">About Us</h3>
          <ul>
            <li> 
              <a href="#">About the Shop</a>
            </li>
            <li>
              <a href="#">Our Story</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 col-md-6">
        <section class="widget widgetLinks">
          <h3 class="widgetTitle">Account &amp; Shipping Info</h3>
          <ul>
            <li>
              <a href="#">Your Account</a>
            </li>
            <li>
              <a href="#">Shipping Rates & Policies</a>
            </li>
            <li>
              <a href="#">Refunds & Replacements</a>
            </li>
            <li>
              <a href="#">Taxes</a>
            </li>
            <li>
              <a href="#">Delivery Info</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hrr">
    <div class="row">
      <div class="col-xs-7 col-md-7 col-xl-7 col-lg-7 padding-bottom-1x">
        <div class="image">
          <img src="assets/images/ui/payment_methods.png" alt="Payment Methods">
        </div>
      </div>
    </div>
  </div>
</footer>