.shopping-cart-footer {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #e1e7ec;
  > .column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle;
    &:last-child {
      text-align: right;
      .btn {
        margin: {
          right: 0;
          left: 15px;
        }
      }
    }
    @media (max-width: 768px) {
      display: block;
      width: 100%;
      &:last-child { text-align: center; }
      .btn {
        width: 100%;
        margin: 12px 0 !important;
      }
    }
  }
}

.btn{
  border-radius: 30px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

.btn-outline-danger{
  color: #ff5252;
  &:hover{
    background-color: #ff5252;
    border-color: #ff5252;
    color: #fff;
  }
}
.btn-success{
  color: #fff;
  border-radius: 30px;
  background-color: #43d9a3;
  &:hover{
    background-color: #27c28a;
    border-color: #27c28a;
  }
}

.btn-outline-secondary{
  color: #8b929a;
  border-radius: 30px;
  border-color: #8b929a;
  &:hover{
    background-color: #f2f2f2;
    border-color: #8b929a;
  }
}

img{
  width: 100px;
}
.row{
  width: 100%;
  border-top: 1px solid #e1e7ec;
  padding: 18px 0;
}

.productItem{
  border: none;
  padding: 0;
}

.product-info{
  padding: 0px;
}

.product-thumb{
  padding: 0px;
  margin-left: 15px;
}

.details{
  >.col-sm-2{
    padding-top: 10px;
  }
}

.rem{
  cursor: pointer;
}

.productTitle{
  font-size: 15px;    
  padding: 15px 0;
  a{
    color: #646464;
    &:hover{
      text-decoration: none;
      color: #0da9ef;
    }
  }  
}
