
.pageTitle {
    width: 100%;
    margin-bottom: 60px;
    padding: 20px;
    border-bottom: 1px solid #e1e7ec;
    background-color: #f5f5f5;
    > .container,
    > .container-fluid { display: table; }
    .column {
      display: table-cell;
      vertical-align: middle;
      &:first-child { padding-right: 20px; }
      color: #374250;
    }
    h1, h2, h3 {
      margin: 0;
      font: {
        size: 24px;
        weight: normal;
      }
      line-height: 1.25;
    }
    @media (max-width: 576px){ margin-bottom: 53px; }
  }

  .breadcrumbs {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    > li {
      display: inline-block;
      margin-left: 5px;
      padding: 5px 0;
      color: #9da9b9;
      font-size: 14px;
      cursor: default;
      vertical-align: middle;
      &.separator {
        width: 3px;
        height: 3px;
        margin-top: 2px;
        padding: 0;
        border-radius: 50%;
        background-color: #9da9b9;
      }
      > a {
        transition: color .25s;
        color: #606975;
        text-decoration: none;
        &:hover { color: #0da9ef; }
      }
    }
  }