<app-nav-off-canvas [view]="menuToggle"></app-nav-off-canvas>

<header class="navbar">
  <div class="siteBranding">
    <div class="inner">
      <span class="offcanvasToggle" (click)="onMenuToggle()">☰</span>
    </div>
  </div>

  <app-navigation-main></app-navigation-main>

  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div class="search">
            <i class="material-icons">search</i>
          </div>
        <div class="account">
          <a routerLink='/account'>
            <i class="material-icons">person</i>
          </a>
        </div>
      
      </div>
    </div>
  </div>
</header>