<app-page-title title="Login / Register Account" [children]="[{title: 'Login/Register'}]"></app-page-title>

<div class="container block">
  <div class="row">
    <div class="col-md-6">
      <form class="loginBox">
        <div class="row" style="margin-bottom:30px">
          <div class="col-xl-4 col-md-6 col-sm-4">
            <a class="btn btn-sm btn-block facebookBtn" href="#">
              <i class="socicon-facebook"></i>&nbsp;Facebook login</a>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-4">
            <a class="btn btn-sm btn-block twitterBtn" href="#">
              <i class="socicon-twitter"></i>&nbsp;Twitter login</a>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-4">
            <a class="btn btn-sm btn-block googleBtn" href="#">
              <i class="socicon-googleplus"></i>&nbsp;Google+ login</a>
          </div>
        </div>

        <h3 class="blockTitle">Login</h3>
        <div [hidden]="wrongInput" class="wrongInput">Wrong email or password...</div>
        <div class="formGroup">
          <input class="formControl" type="email" placeholder="Email or Username" required="" [(ngModel)]="username" name="username">
          <span class="inputGroupAddon">
            <i class="material-icons">email</i>
          </span>
        </div>
        <div class="formGroup">
          <input class="formControl" type="password" placeholder="Password" required="" [(ngModel)]="password" name="password">
          <span class="inputGroupAddon">
              <i class="material-icons">lock</i>
          </span>
        </div>

        <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
          <a class="naviLink" href="#">Forgot password?</a>
        </div>

        <div class="text-center text-sm-right">
          <button class="btn btn-primary margin-bottom-none" type="submit" (click)="onLogin()">Login</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h3  class="blockTitle">No Account? Register</h3>
      <p style="font-size: 15px; color: #9da9b9;">Registration takes less than a minute but gives you full control over your orders.</p>
      <form class="row">
        <div class="col-sm-6">
          <div class="formGroup">
            <label>First Name</label>
            <input disabled class="formControl" type="text" required="" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="formGroup">
            <label>Last Name</label>
            <input disabled class="formControl" type="text" required="">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="formGroup">
            <label>E-mail Address</label>
            <input disabled class="formControl" type="email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="formGroup">
            <label>Password</label>
            <input disabled class="formControl" type="password" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="formGroup">
            <label>Confirm Password</label>
            <input disabled class="formControl" type="password" required>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="text-center text-sm-right">
              <button disabled class="btn btn-primary margin-bottom-none" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>