.sidebar{
    width: 100%;
    .widget{
        margin-bottom: 40px;
        .widgetTitle{
            padding: 0 0 12px 0;
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            color: #9da9b9;
        }
        .table{
            font-size: 14px;
            tr{
                td:nth-child(odd){
                    color: #9da9b9;
                }
                td:nth-child(even){
                    font-weight: 600;
                    color: #818891;
                }
                td{                    
                    border-top: 0px;
                }
                &:nth-child(odd){
                    border-top: 1px solid #dee2e6;
                }
            }
        }
    }
}
    